.apps-scroll-content {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  color: var(--el-text-color-regular);
}

.apps-scroll-content code {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.apps-scroll-content-loading {
  font-size: 25px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.apps-main {
  padding: 10px;
}
.apps-main ul {
  padding-inline-start: 0px;
}

.apps-main .apps-item-menu {
  padding: 10px;
}

.apps-menu-card-loading {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
