.chat-dialog-main {
  border-radius: 15px;
}

.chat-dialog-main .chat-dialog-header {
  position: absolute;
  height: 80px;
  width: 100%;
}

.chat-dialog-main .chat-dialog-minimize-icon {
  position: absolute;
  top: 8px;
  right: 36px;
  cursor: pointer;
  z-index: 1;
}

.chat-dialog-main .chat-dialog-close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  z-index: 1;
}

.chat-dialog-cremind-icon {
  position: fixed;
  right: 5px;
  bottom: 180px;
}

.el-dialog__header {
  margin: 0px;
  padding: 0px;
}

.el-dialog__body {
  padding: 0px;
}
